$body-font-family: 'Be Vietnam Pro', 'Verdana', sans-serif;
$heading-font-family: 'Be Vietnam Pro', 'Verdana', sans-serif;

$body-color: #4a4c59;
$main-color: #f55e1a;
$heading-color: #1d213e;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 17px;
$font-size-sm: 15px;
$transition: all ease 0.5s;
$border-radius: 4px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

$primary-color: $main-color !default;
$base-bg: $heading-color !default;
